// Primary colors

$green: #3e8500;
$green-lighter: tint($green, 66);
$green-light: lighten($green, 5);
$green-dark: darken($green, 5);
$green-darker: shade($green, 50);

$red: #C12215;
$red-lighter: tint($red, 60);
$red-light: lighten($red, 5);
$red-dark: darken($red, 5);
$red-darker: shade($red, 50);

$cream: #F7E9C6;
$cream-lighter: tint($cream, 33);
$cream-light: tint($cream, 66);
$cream-dark: shade($cream, 85);
$cream-darker: shade($cream, 66);

$tint: #f4f4f4;

// Alt colors

$alt-1: #7A232E; // Dusk
$alt-2: #F6B221; // Sunbeam
$alt-3: #002B49; // Full Moon
$alt-4: #706259; // Clay
$alt-5: #BF1E2E; // Cardinal
$alt-6: #4F4A33; // Mossy Oak
$alt-7: #D99A29; // Honeycomb
$alt-8: #513628; // Bark